
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

.button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10%;
    font-size: x-large;
    color: white;
    cursor: pointer;
}

/*
.button:hover {
    background-color: #999;
}*/

.start-button {
    height: 50px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    border: 1px solid white;
    background-color: transparent;
    font-size: large;
    color: white;
    cursor: pointer;
  }

.start-button:hover {
    background-color: #999;
    color: black;
}

.round-button {
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    font-size: x-large;
    color: white;
    cursor: pointer;
  }

.round-button:hover {
    background-color: #999;
    color: black;
}

.pselect {
    display: none;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Signika Negative', sans-serif;
    font-size: xx-large;
}

.gameselect {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 50px;
}

.minigametext {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.596);
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}

.miniseltext {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.596);
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}

.gametitle {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Signika Negative', sans-serif;
    font-size: 50px;
}

.currentselp {
    display: none;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.596);
    font-family: 'Signika Negative', sans-serif;
    font-size: large;
}

.scoretxt {
    display: none;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.596);
    font-family: 'Signika Negative', sans-serif;
    font-size: larger;
}

.rr-button {
    height: 50px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    border: 1px solid white;
    border-color: rgba(255, 255, 255, 0.596);
    background-color: transparent;
    font-size: large;
    color: rgba(255, 255, 255, 0.596);
    cursor: pointer;
  }

.rr-button:hover {
    background-color: #999;
    color: black;
}

table.startselect {
    display: table;
    margin-left: auto; 
    margin-right: auto;
}

table.restartreset {
    display: none;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
}

table.center {
    display: none;
    margin-left: auto; 
    margin-right: auto;
}

table.select {
    display: none;
    margin-left: auto; 
    margin-right: auto;
}

html, body {
    height: 100%;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
html {
    display: table;
    width: 100%;
}
body {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #35363a;
}